{% extends "base.html" %}

{% block content %}
    <h3 align="center">A propos et contact</h3>
    <h4 align="center">Qui suis-je?</h4>
    <p>Romain MATHONAT, 22 ans, actuellement étudiant en informatique à l'INSA de Lyon.
        C'est sommaire, mais lire les articles devrait vous en apprendre un peu plus sur moi.
        <br/>
        Si mon travail vous intéresse, et que le votre est suceptible
        de m'intéresser (stage, emploi etc), vous pouvez me joindre via le formulaire suivant.
    <p>
        Vous pouvez bien entendu l'utiliser
        aussi pour toute autre demande/renseignement/information :) .
    </p>
    <h4 align="center">Contact</h4>
    {% if envoi %}
        <p class="alert alert-success">
            Votre message a bien été envoyé !
        </p>
    {% endif %}
    {% if error %}
        <p class="alert alert-danger">
            Erreur, veuillez remplir tous les champs et recopier correctement le captcha
        </p>
    {% endif %}

    <form role="form" action="{% url "blog.views.contact" %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Votre adresse mail:</label>
            <input type="email" class="form-control" id="email" name="auteur" value="{{ auteur }}">
        </div>
        <div class="form-group">
            <label for="pwd">Sujet:</label>
            <input type="text" class="form-control" id="pwd" name="sujet" value="{{ sujet }}">
        </div>
        <div class="form-group">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="comment" name="message">{{ message }}</textarea>
        </div>
        <div class="form-group">
            <label for="{{ form.captcha.captcha }}">Veuillez recopier les lettres suivantes:</label>
            {{ form.captcha }}
        </div>
        <div class="centreur">
            <button type="submit" class="btn btn-default">Envoyer</button>
        </div>
    </form>

{% endblock %}
