{% extends "base.html" %}


{% block content %}
    <h1>{{ article.titre }} </h1>
    <div class="well well-sm">
                <span class="label label-default">Date</span>
                {{ article.date|date:"DATE_FORMAT" }}
                <span class="label label-default">Catégories</span>
                {% for categorie in article.categorie.all %}
                    <a href="{% url "blog.views.categorie" categorie.nom %}">{{ categorie }}</a>
                    {% if not forloop.last %}/
                    {% endif %}
                {% endfor %}
                par <a href="mailto:{{ article.auteur.email }}" target="_top">{{ article.auteur }}</a>
            </div>
    <div class="contenu">{{ article.contenu|safe }}</div>
    {% block ajout %}
    {% endblock %}

    <div class="centreur">
        <a href="{% url "blog.views.generatePDF" article.slug %}">
            <button class="btn btn-warning">Telecharger cet article en PDF</button>
        </a>
    </div>

    <div class="separationVerticale"></div>
    <div class="commentaires">

        <h3>Commentaires</h3>
    </div>
    {% for message in messages %}
        {% if message.publie %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ message.auteur }}</strong> <span
                        class="text-muted">le {{ message.date|date:"DATE_FORMAT" }}</span>
                </div>
                <div class="panel-body">
                    {{ message.contenu }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if envoi %}
        <p class="alert alert-success">
            Votre message a bien été envoyé !
        </p>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="contenu">Votre message:</label>
            <textarea class="form-control" rows="5" id="contenu" name="contenu">{% if envoi %}
                {{ contenu }}{% endif %}</textarea>
        </div>

        <div class="centreur">
            <button type="submit" class="btn btn-default">Envoyer</button>
        </div>
    </form>
{% endblock %}