{% load static %}
<head>
    <script type="text/javascript"
            src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css' %}"/>

    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript"
            src="{% static 'js/modifsPersos.js' %}">
    </script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <title>{% block title %}Vulgaire Developpeur{% endblock %}</title>
</head>

{% block content %}
    <img src="{% static "images/vulgairedevPDF.png" %}"/>

    <h1>{{ article.titre }} </h1>
    <p class="infosArticle">{{ article.date|date:"DATE_FORMAT" }} | {{ categories }} par <a
            href="mailto:{{ article.auteur.email }}"
            target="_top">{{ article.auteur }}</a><br/><br/></p>
    <div class="contenu">{{ article.contenu|safe }}</div>
    {% block ajout %}
    {% endblock %}

{% endblock %}