{% extends "base.html" %}

{% block content %}
    <h3 align="center">A propos / Who am I ?</h3>
    <p><br/>Romain MATHONAT, ingénieur en informatique diplômé de l'INSA de
    Lyon. Je suis actuellement en thèse CIFRE dans l'équipe "Data Mining &
    Machine Learning" du LIRIS, et travaillant en tant qu'ingénieur chez Atos
    Lyon le reste de mon temps. De nombreux articles présents sur le web m'ont
    beaucoup aidé et m'aident toujours dans mon activité, j'apporte donc ma
    pierre à l'édifice, pour aider/expliquer/vulgariser.
        <br/>
        Vous pouvez me joindre via mon mail ci-dessous.
    </p>
    <p>
        My name is Romain MATHONAT. I am a french IT engineer, actually working
        in the DM2L team, at LIRIS, in Lyon, as a Ph.D Student. I also work at Atos as
        an engineer. Many blog posts helped me in the past, so now I also want
        to contribute to the web knowledge, and help/explain/vulgarize. 
        <br/>
        You can contact me via email.
    </p>
    <div class="centreur">
        <a href="mailto:romain.mathonat@gmail.com"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/Romathonat"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/romain-mathonat-478910b5/?ppe=1"><i class="fa fa-linkedin     fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/romathonat"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
    </div>
{% endblock %}
