{% extends "base.html" %}

{% block content %}
    <h3 align="center">A propos et contact</h3>
    <h4 align="center">Qui suis-je?</h4>
    <p>Romain MATHONAT, 23 ans, actuellement étudiant en informatique à l'INSA de Lyon.
        C'est sommaire, mais lire les articles devrait vous en apprendre un peu plus sur moi.
        <br/>
        Vous pouvez me joindre via mon mail ci-dessous.
    </p>
    <div class="centreur">
        <a href="mailto:romain.mathonat@gmail.com"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/Romathonat"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/romain-mathonat-478910b5/?ppe=1"><i class="fa fa-linkedin     fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
    </div>
{% endblock %}
