{% extends "base.html" %}

{% block content %}
    <h3 align="center">A propos et contact</h3>
    <h4 align="center">Qui suis-je?</h4>
    <p>Romain MATHONAT, 23 ans, actuellement étudiant en informatique à l'INSA de Lyon.
        C'est sommaire, mais lire les articles devrait vous en apprendre un peu plus sur moi.
        <br/>
        Si mon travail vous intéresse, et que le votre est suceptible
        de m'intéresser, vous pouvez me joindre via
        <a href="mailto:romain.mathonat@gmail.com" >romain.mathonat@gmail.com</a>
    </p>
    <div class="centreur">
        <a href="https://github.com/Romathonat"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
    </div>
{% endblock %}
