{% extends "base.html" %}


{% block content %}

<h1>Proposer un article</h1>


<div class="contenu">
    <p>
            Pour proposer un article, il vous suffit de suivre le lien suivant :
        <a href="https://github.com/Romathonat/vulgaireDevEntries"> Proposer un Article</a>. <br/>

        Celui-ci vous amènera sur mon repo Github, où sont présent les articles.
        Il vous suffit de fork le repo, d'ajouter un nouveau dossier, et de faire une pull request. L'interface markdown de Github est très bien,
        l'intégration des articles via des pull request est facile, github est un outil très populaire chez les développeurs,
        et avec ce système vous pouvez rédiger un début d'article, le sauvegarder, puis le reprendre et le soumettre quand vous le souhaitez.
    </p>
</div>

{% block ajout %}
{% endblock %}

{% endblock %}
