a {
    color: rgb(244, 122, 0);
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: rgb(244, 122, 0);
}

code{
    text-align: left;
}

#banniere {
    background: url('../images/vulgaireDevelopeurTaille.png') no-repeat center;
    background-size:contain;
    position: relative;
    width: 70%;
    height: 0;
    padding-top: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#content {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
}

.monContainer{
    padding-left: 5%;
    padding-right: 5%;
}

.separationVerticale {
    height: 1px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    border-top: 1px solid darkgrey;
}

#separationVerticale2 {
    height: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-top: 1px solid darkgrey;
}

#navigation {
    border-left: 1px solid darkgrey;
    padding-left: 30px;
    padding-right: 45px;
    margin-top: 40px;
    text-align: center;
}

header {
    margin-left: auto;
    margin-right: auto;
}

#defineWidth {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#navigation ul, #navigation li {
    padding-left: 10px;
    text-align: left;
}

ul#listeCategories {
    list-style: none;
    vertical-align: middle;
    margin-left: 20px;
}

li.categories {
    text-indent: 15px;
    padding: 3px 0px 3px 10px;
    white-space: nowrap;
}

.lienCategorie {
    vertical-align: middle;
    opacity: 1;
}

.puce {
    background: url("../images/puce.png") no-repeat left;
    width: 27px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -39px; /*somme des tailles des div*/
}

.couleurPuce {
    opacity: 0.3;
    margin-left: 5px;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    transition: opacity 1s;
    line-height: 12px;
}

.categories:hover .couleurPuce {
    /*quand on passe sur li, on change l'opacity de la couleur*/
    opacity: 1;
}

p {
    text-align: left;
    line-height: 1.5;
    font-size: 11pt;
    color: rgb(40, 40, 40);
}

h1, h2, h4, h5, h6 {
    font-family: Calibri, Arial, sans-serif;
}

body {
    text-align: center;
    margin-bottom: 100px;
}

hr {
    border-top: 1px solid darkgrey;
}

#content {
    text-align: left;
}

.centreur {
    text-align: center;
}

.btn-search {
    color: #fff;
    background-color: rgb(255, 165, 74);
    border-color: rgb(255, 143, 32);
}

.btn-search:focus,
.btn-search.focus {
    color: #fff;
    background-color: rgb(255, 143, 32);
    border-color: rgb(255, 143, 32);
}

.btn-search:hover {
    color: #fff;
    background-color: rgb(255, 143, 32);
    border-color: rgb(255, 143, 32);
}

.recherche {
    margin-top: 25px;
}

.infosArticle {
    color: darkgrey;
}

.contact {
    margin-top: 20px;
    text-align: center;
}

.math-tex {
    font-size: 1.0em;
}

footer {
    text-align: center;
    padding-top: 90px;
}

.foot {
    font-size: 0.9em;
}

.commentaires {
    text-align: center;
}

#nombresDisponibles {
    margin-bottom: 50px;
}

