{% load static %}
{% load affichageCategories affichageDerniersArticles %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <script type="text/javascript"
            src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css' %}"/>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript"
            src="{% static 'js/modifsPersos.js' %}">
    </script>

    <link href="{% static 'css/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>{% block title %}Un Vulgaire Developpeur{% endblock %}</title>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70973246-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
<header>
    <a href="{% url "blog.views.home" %}">
        <div id="banniere" alt="banniere"></div>
    </a>
</header>


<div class="container">
    <div id="separationVerticale"></div>

    <section id="content" class="col-sm-9">
        {% block content %}{% endblock %}
    </section>

    <nav id="navigation" class="col-sm-3">
        <h3>Catégories</h3>

        {% affichageCategories %}

        <div id="separationVerticale2"></div>
        <h3>Derniers articles</h3>

        {% affichageDerniersArticles %}

        <div id="separationVerticale2"></div>

        <ul>
            <li class="list-group-item"><a href="{% url "blog.views.proposeArticle" %}"> Proposer un Article</a></li>
        </ul>
        <ul class="list-group contact">
            <li class="list-group-item"><a href="{% url "blog.views.contact" %}"> Contact</a></li>
        </ul>

        <div id="separationVerticale2"></div>


        <form class="input-group recherche" action="{% url "blog.views.recherche" %}" method="post">
            {% csrf_token %}
            <input type="text" class="search-query form-control" name="recherche" id="id_recherche"
                   placeholder="Recherche"/>
            <span class="input-group-btn">
                <button class="btn btn-search" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </form>
    </nav>

    <footer class="col-sm-12">
        {% if user.is_authenticated %}
            <p class="centreur foot">Connecté en tant que {{ user.get_username }}. <a href="{% url "deconnexion" %}?next={{ request.path }}">Deconnexion</a>
            </p>
        {% else %}
            <p class="centreur foot">Bienvenue. <a href="{% url "connexion" %}?next={{ request.path }}">Connexion</a></p>
        {% endif %}
    </footer>
</div>
</body>

{% if removeNav %}
    <script type="text/javascript"
            src="{% static 'js/removeNav.js' %}"></script>
{% endif %}

</html>